{% extends 'base.html' %}

{% block content %}
<body>
    <section class="text-center">
        <h1>Book your consultation with your doctor anywhere!</h1>
        <div class="row" id="row1">
            <div class="col offset-lg-0">
                <button class="btn btn-primary" type="button">book appointment</button></div>
        </div>
        <div class="row">
            <div class="col">
                <p class="text-center">Here you can take appointment with the respective doctor , you can view the old appointments, view the prescription, view the reports.<a data-bs-hover-animate="flash" href="#">For more details..</a></p>
            </div>
        </div>
    </section>
</body>

{% endblock content %}



