{% extends 'base.html' %}

{% block content %}

<body>
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li> <a href="#" style="color: white;">Home</a></li>
                <li> <a href="#">Profile</a></li>
                <li> <a href="#">Make Appointments</a></li>
                <li> <a href="#">View Appointments</a></li>
                <li> <a href="#">View Prescription</a></li>
                <li> <a href="#">Bills</a></li>
                <li> <a href="#">Logout</a></li>
            </ul>
        </div>

    </div>

</body>
{% endblock content %}