{% extends 'base.html' %}

{% block content %}

<body>
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li> <a href="homepage/" style= "color: white;">Home</a></li>
                <li> <a href="profile/">Profile</a></li>
                <li> <a href="make_app/">Make Appointments</a></li>
                <li> <a href="view_app/">View Appointments</a></li>
                <li> <a href="logoutpage/">Logout</a></li>
            </ul>
        </div>

    </div>

</body>
{% endblock content %}